html{
    width: 100%;
    height: 100%;
}

p,a,#boton{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a{
    color: gray;
}

#barra {
    display: grid;
    grid-template-columns: 1fr 50px 70px 50px 50px;
    grid-template-rows: 50px;
    grid-template-areas: ". gmail imagenes menugrid usuario";
    
}

#gmail {
    grid-area: gmail;
    align-self: center;
    justify-self: center;
    color: rgb(53, 53, 53);
    font-size: 15px;
    
    
}

#imagenes {
    grid-area: imagenes;
    align-self: center;
    justify-self: center;
    color: rgb(53, 53, 53);
    font-size: 15px;
   
    
    
}

#menugrid {
    grid-area: menugrid;
    height: 15px;
    align-self: center;
    justify-self: center;
    
    
    
    
}

#usuario {
    grid-area: usuario;
    align-self: center;
    justify-self: center;
    
}

a:link, a:visited, a:active {
    text-decoration:none;
}


#usuario {
    color: beige;
    background-color: darkcyan;
    padding: 7px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 50%;
    
    font-weight: bold;

}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 50px 50px 200px;
    grid-template-areas: 
    ". logomain ."
    ". input ."
    ". botones ."
    ". ofrecido .";
   
}

#logomain{
    grid-area: logomain;
    align-self: flex-end;
    justify-self: center;
   
    
}
#input{
    grid-area: input;
    align-self: center;
    justify-self: center;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    width: 450px;
    border-radius: 20px;
    border: 1px solid rgb(212, 212, 212);
    margin-top: 30px;
    
    
    
}

#inputfield{
    border: 0;
    background-color: transparent;
    outline: 0;
}

#input:hover{
    -webkit-box-shadow: 4px 6px 8px -2px rgba(168,168,168,1);
    -moz-box-shadow: 4px 6px 8px -2px rgba(168,168,168,1);
    box-shadow: 4px 6px 8px -2px rgba(168,168,168,1);
}

#input:focus{
    -webkit-box-shadow: 4px 6px 8px -2px rgba(168,168,168,1);
-moz-box-shadow: 4px 6px 8px -2px rgba(168,168,168,1);
box-shadow: 4px 6px 8px -2px rgba(168,168,168,1);
}

#lupa{
    display: inline-flex;
    float: left;
    margin-left: -30px;
    margin-top: 2px;
    width: 15px;
    height: 15px;
}

#micro{
    display: inline-flex;
    float: right;
    margin-right: -30px;
    margin-top: 2px;
    width: 20px;
    height: 20px;
}



#botones{
    margin-top: 50px;
    display: inline-flex;
    flex-wrap: wrap;
    align-self: center;
    grid-area: botones;
    justify-self: center;
    gap: 5px;
    
}

#boton {
    border: transparent solid 1px;
    padding: 10px;
    margin: 8px;
    border-radius: 3px;
    color: rgb(61, 61, 61);
    font-size: 15px;
    
    
}

#boton:hover{
    border: solid 1px rgb(167, 167, 167);
    
}

#ofrecido{
    margin-top: 15px;
    grid-area: ofrecido;
    align-self: flex-start;
    justify-self: center;
    margin-top: 25px;
    font-size: 15px;
    
}

#ofrecido>p>a{
    color: blue;
}

#footer {
    background-color: rgb(231, 231, 231);
    font-size: 15px;
    padding-bottom: 15px;
    border: rgb(219, 219, 219) solid 1px;
    display: grid;
    grid-template-columns: auto auto auto auto  1fr auto auto auto auto;
    grid-template-rows: auto;
    margin-top: 115px;
    grid-template-areas: 
    "italia publicidad empresa sobre funciona . privacidad terminos configuracion"
    ;
    
}

#italia {
    grid-template-areas: italia;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    grid-column-start: 1;
    grid-column-end: 10;
    border: rgb(219, 219, 219) solid 1px;
}


#publicidad {
    grid-template-areas: publicidad;
    align-self: flex-end;
    justify-self: center;
    padding-top: 10px;
    padding-left: 15px;
}
#empresa {
    grid-template-areas: empresa;
    align-self: center;
    justify-self: center;
    padding-top: 10px;
    padding-left: 15px;
}
#sobre {
    grid-template-areas: sobre;
    align-self: center;
    justify-self: center;
    padding-top: 10px;
    padding-left: 15px;
}
#privacidad {
    grid-template-areas: privacidad;
    align-self: center;
    justify-self: end;
    padding-top: 10px;
    padding-left: 15px;
}

#funciona{
    grid-template-areas: funciona;
    align-self: center;
    justify-self: center;
    padding-top: 10px;
    padding-left: 15px;
}

#terminos {
    grid-template-areas: terminos;
    align-self: center;
    justify-self: center;
    padding-top: 10px;
    padding-left: 15px;
}
#configuracion{
    grid-template-areas: configuracion;
    align-self: center;
    justify-self: center;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

